<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap" rel="stylesheet">
    <title>Valentino Bodega Septima</title>
    <link rel="icon" href="/static/images/wine4.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="navigation">
        <div class="navbar-container">
            <div class="logo-container">
                <a href="/inicio">
                    <div class="logo"><img src="../static/images/wine4.png" alt="Logo"></div>
                </a>
            </div>
            <ul class="navbar">
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/mis_tickets">Mis tickets</a></li>
                <li><a href="/mis_reseñas">Mis reseñas</a></li>
                <li><a href="/perfil">Mi perfíl</a></li>
                <li>
                    {% if current_user.is_authenticated and current_user.rol == 'admin' %}
                        <a href="/usuarios">Usuarios</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="carousel-info-container">
            <div class="carousel-event">
                <!-- Carrusel -->
                <div class="events-carousel">
                    <button id="btn-prev-event">‹</button>
                    <div class="carousel-inner-event">
                        <img id="card-event" src="../static/images/event-default.png" alt="Evento">
                    </div>
                    <button id="btn-next-event">›</button>
                </div>
            </div>
            <div class="info-container">
                <h2>Valentino Bodega Septima</h2>
                <p>Fecha: 01 de Diciembre</p>
                <p>Hora: 21:00</p>
                <p>Precio: $30.000</p>
                <p>Ubicación: Bodega Septima</p>
                <button class="btn-comprar" onclick="window.location.href='/comprar_tickets'">Comprar</button>
            </div>
        </div>
        <div class="description-container">
            <h2 id="title-event-description">Descripción del evento</h2>
            <p id="event-description">Sumérgete en una velada única e inolvidable con la Cena Maridaje en Valentino Restaurant & Bodega Séptima. Disfruta de una experiencia gastronómica excepcional que combina la excelencia culinaria y los vinos de alta gama de una de las bodegas más prestigiosas de Mendoza.</p>
        </div>
        <div class="map-container">
            <h3>Ubicación del evento</h3>
            <iframe id="event-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2032887.7433835298!2d-69.6165446417147!3d-33.194018150544764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e094cd6267d4d%3A0x6fe058e176367a49!2sBodega%20S%C3%A9ptima!5e0!3m2!1ses-419!2sar!4v1731050681075!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></src=>></iframe>
        </div>
    </section>
    <script src="/static/js/carruseles_otros_eventos/carrusel_otros_eventos2.js"></script>
</body>
</html>